
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
     flex: 1 0 auto;
}

/* clouds */
.bg-clouds{
	background: #5dbde9 url(/img/bg_top_front.gif) no-repeat center bottom -34px;
    width: 100%;
    position: initial;
}

.clouds {
	position: absolute;
	height: 448px;
	left: 0;
	width: 100%;
	top: 27px;
	z-index: -1;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.cloud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-position: left center;
    background-repeat: no-repeat;
    animation: moveclouds 35s linear 0s infinite;
    -webkit-animation: moveclouds 35s linear 0s infinite;
}
	.cloud.big {
	    height: 96px;
	    background-image: url(../img/cloud_big.png);
	}

	.cloud.mid {
	    height: 54px;
	    background-image: url(../img/cloud_midi.png);
	}

	.cloud.small {
	    height: 34px;
	    background-image: url(../img/cloud_small.png);
	}

	@-moz-keyframes moveclouds {
		0%   { transform: translate3d(0,0,0); }
		100% { transform: translate3d(-100%,0,0); }
	}
	@-webkit-keyframes moveclouds {
		0%   { -webkit-transform: translate3d(0,0,0); }
		100% { -webkit-transform: translate3d(-100%,0,0); }
	}

.logo-holder {
	margin-bottom: 14px;
    margin-top: 14px;
}

.logo-holder img{
	margin: auto;
    max-height: 40px;
}

.centered {
	text-align: center;
}

.inline {
	display: inline-flex;
}

.div-seperator {
    color: #B9BCC0;
    font-size: 24px;
    display: flex;
	flex-basis: 100%;
	align-items: center;
	width: 70%;
    margin: auto;
    margin-top: 18px;
}

.div-seperator::before,
.div-seperator::after {
	content: "";
	flex-grow: 1;
	background: #E1E2E4;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

.search-div {
    margin-top: 15px;
}

/* cards */
/*.close-card:hover {
    cursor: pointer;
    border-color: transparent;
    cursor: pointer;
    box-shadow: 0 0 0 3px #00BCD4;
    -moz-box-shadow: 0 0 0 3px #3BF7D1;
    -webkit-box-shadow: 0 0 0 3px #00BCD4;
    color: #00BCD4;
    fill: #00BCD4;
    background-color: #fff;
    color: #00BCD4;
    width: 30px;
    fill: #00BCD4;
    height: 30px;
    text-align: center;
}

.close-card{
    webkit-transition: border 200ms,box-shadow 200ms,color 200ms;
    -moz-transition: border 200ms,box-shadow 200ms,color 200ms;
    transition: border 200ms,box-shadow 200ms,color 200ms;
}*/

/* buttons */
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

a.btn {
    color: white;
}

.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

/* nav */
nav .brand-logo img{
	width: 125px;
    margin-top: 15px;
}

.navbar {
    border: none;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.3);
    box-shadow: 0 0 1px rgba(0,0,0,.3);
}
.nav-sidebar{
	left: 0;
    width: 260px;
    margin: 0;
    padding-bottom: 60px;
    z-index: 1037;
    will-change: left;
    font-size: 13px;
    border-right: 1px rgba(0,0,0,.07) solid;
}
.nav-sidebar .brand{
	background: #fff;
    padding: 20px;
}
.nav-sidebar .logo{
	width: 100%;
	
}
.nav-sidebar .row{
	margin-bottom: -20px;
}
.nav-sidebar .background img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
     opacity: 0.7;
}



/* toolbar */
.toolbar{
	margin-bottom: 0;
}
.toolbar .col{
	padding:0;
}
.toolbar nav{
	box-shadow: none;
    border-bottom: 1px solid #ccc;
    background: rgba(255,255,255, 0.2); 
    padding-right: 45px;
    margin-bottom: 15px;

}

/* login page*/
.bg-clouds .brand-logo img{
    margin-top: 10px;
    max-width: 200px;
}

.help-block {
    color: #F44336;
}

/* alerts */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}
    .alert-imphasis{
        margin: 0;
        font-style: italic;
        border-radius: 0;
    }

	.alert.alert-success {
	    color: #3c763d;
	    background-color: #dff0d8;
	    border-color: #d6e9c6;
	}

	.alert-info {
	    color: #31708f;
	    background-color: #d9edf7;
	    border-color: #bce8f1;
	}

	.alert-warning {
	    color: #8a6d3b;
	    background-color: #fcf8e3;
	    border-color: #faebcc;
	}

	.alert-danger {
	    color: #a94442;
	    background-color: #f2dede;
	    border-color: #ebccd1;
	}

    .alert-dismissable .close, .alert-dismissible .close {
        position: relative;
        top: -2px;
        right: -14px;
        color: inherit;
    }

/* colors */
.green { background-color: #629d1c !important; }
.green-text { color: #629d1c !important; }
.white-text-important { 
	color: white !important; 
	fill: white !important; 
}
.fill-white {
	fill: white !important;
}

.fill-grey {
	fill: gray !important;
}

/* svg icons */
/*.circular-button-view {
	webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    border: 1px solid #B9BCC0;
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: transparent;
    color: #B9BCC0;
    fill: #B9BCC0;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-transition: border 200ms,box-shadow 200ms,color 200ms;
    -moz-transition: border 200ms,box-shadow 200ms,color 200ms;
    transition: border 200ms,box-shadow 200ms,color 200ms;
    width: 25px;
    height: 25px;
}*/

.circular-button-view svg {
	height: 12px;
    width: 12px;
}

.circular-button-view:hover {
	border-color: transparent;
    cursor: pointer;
    box-shadow: 0 0 0 3px #00BCD4;
    -moz-box-shadow: 0 0 0 3px #3BF7D1;
    -webkit-box-shadow: 0 0 0 3px #00BCD4;
    color: #00BCD4;
    fill: #00BCD4;
    background-color: #fff;
    color: #00BCD4;
    fill: #00BCD4;
}

/* todo tasks */
.task-item .assignee .item img {
    width: 25px;
    height: 25px;
}

.task-item .description {
    margin-left: 6px;
}

/* main content */
.page-admin{

	padding-left: 0;
	padding-right: 0;
	margin: 0 0 180px;
}

main:before{
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;

	display: block;
	background-image: url(/images/bg.jpg);
	background-size:cover;
	width: 100%;
	height: 100%;

	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}

/* footer */
.no-bg { 
	background: none; 
	background-color: transparent !important;
}
footer.page-footer-custom {
	clear: both;
   /* position: absolute;*/
    width: 100%;
    bottom: 0;
    height: 180px;
    overflow: hidden;
}
.bg-clouds footer.page-footer{
	position: relative;
}
.page-admin .navbar:first-child{
	padding-left: 45px;
    padding-right: 45px;
}
.page-admin nav .container{ 
	width: 100%;
}

/* dashboard left side bar*/
#dashleft-sidebar{
	min-height: 600px;
	padding:10px;
}
#dashleft-sidebar h5{
	font-size: 20px;
    margin-top: 15px;
}

svg.itemRow-dragIcon{
	width: 13px;
    // position: absolute;
    margin-left: -19px;
    margin-top: 5px;
    fill: #0089ec;
    cursor: pointer;
    position: absolute;
}
#dashleft-sidebar h5{
    padding-left: 26px;
}
#dashleft-sidebar h5 i{
    margin-top: -1px;
    position: absolute;
    margin-left: -27px;
}
#dashleft-sidebar ul{
	border: 0;
	border-bottom: 1px solid #e0e0e0;
}
#dashleft-sidebar li{
	padding-left: 20px;
    border-left: 0 !important;
    border-right: 0 !important;
    font-size: 14px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

#dashleft-sidebar li input, #dashleft-sidebar li span{
	border: none;
	padding: 0;
	margin: 0;
	width: 92%;
}
#dashleft-sidebar li input[type=text]:focus:not([readonly]){
	box-shadow: none;
}
#dashleft-sidebar li .edit-icon, #dashleft-sidebar li .delete-icon{
	position: absolute;
    margin-top: 2px;
    font-size: 17px;
    cursor: pointer;
    right: 0;
}

 #dashleft-sidebar li .delete-icon{
 	margin-right: 3px;
    display: none;
 }
 #dashleft-sidebar li .edit-icon{
 	mmargin-right: 3px;
 }

#dashleft-sidebar li .edit-icon, #dashleft-sidebar li .delete-icon, #dashleft-sidebar li svg.itemRow-dragIcon{
	display: none;
}
#dashleft-sidebar li:hover .edit-icon, #dashleft-sidebar li:hover .delete-icon, #dashleft-sidebar li:hover svg.itemRow-dragIcon{
	display: inline;
}

/* list info - center content*/
#list-info{
	border: 1px solid #ccc;
	width: 100%;
	min-height: 500px;
	padding: 5px;
}
#info-nav{
	border-bottom: 1px solid #ccc;
	padding: 15px;
}

#info-content{
	padding:15px;
}
#info-content input[type=text]:focus:not([readonly]), #info-nav input[type=text]:focus:not([readonly]){
	box-shadow: none;
}
 #info-nav input{
 	border: none;
    padding: 0;
    margin: 0;
    width: 97%;
    padding-left: 10px;
 }
#info-content input, #info-content textarea{
	border: none;
    margin: 0;
    width: 97%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
#info-nav #info-option{
	font-size: 20px;
    padding: 5px;
    width: 21px;
    text-align: center;
    position: absolute;
    margin-left: -10px;
    padding-top: 10px;
    cursor: pointer;
}
#info-nav #info-option:hover{
	color:#0089ec !important;
}
#info-content input:hover, #info-content textarea:hover,  #info-nav input:hover{
	border-bottom-color: #ccc;
}
#info-content textarea{
	min-height: 100px;
	padding-top: 10px;
}
#info-content textarea:focus{
	border: none;
}
#info-content li small{
	padding-left: 10px;
}
#info-content ul.collection, #info-content li.collection-item{
	border: none;
	padding:0;
	margin:0;
}

li.collection-item.active a {
    color: white;
}

#info-nav #lsinfo-option{
	width: auto !important;
}
#info-nav #lsinfo-option li > a{
	font-size: 12px;
}
.error-field{
    position: absolute;
    margin-top: -18px;
    right: 0;
}
.cursor-pointer{
    cursor: pointer;
}

.panzoom-parent { 
	border: 2px solid #333; 
	width: 100%; 
	overflow: auto;
}
.panzoom-parent .panzoom { border: 2px dashed #666; }
.buttons { margin: 40px 0 0; }
.shopspot{
	background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
}
#info-content textarea{
	min-height: 300px;
}
#spots #dashleft-sidebar .collapsible-header h5 i {
	margin-top: -12px;
}
#spots #dashleft-sidebar li{
	padding-left: 0;
}
#salespot .collapsible-body{
	border-bottom: 0 !important;
}
.card{
	margin:0;
}