.bg-clouds {
	background: #5dbde9 url(/img/bg_top_front.gif) no-repeat center bottom -100px;
    width: 100%;
    position: relative;
}

.logo-holder {
	margin-bottom: 14px;
    margin-top: 14px;
}

.logo-holder img{
	margin: auto;
    max-height: 40px;
}

.centered {
	text-align: center;
}

.div-seperator {
    color: #B9BCC0;
    font-size: 24px;
    display: flex;
	flex-basis: 100%;
	align-items: center;
	width: 70%;
    margin: auto;
}

.div-seperator::before,
.div-seperator::after {
	content: "";
	flex-grow: 1;
	background: #E1E2E4;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

a.btn {
    color: white;
}

/* login page*/
.page-login .brand-logo img, .page-register .brand-logo img{
	max-width: 200px;
    margin-top: 40px;
}

.input-field.has-error span {
    color: #F44336;
}

/* main content */

.maincontent{
	min-height: 500px;
	padding:0 !important;
	margin: 0;
}


footer.page-footer {
    background: none;
}

.navbar {
    border: none;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.3);
    box-shadow: 0 0 1px rgba(0,0,0,.3);
    background: #5dbde9 !important;
}
.nav-sidebar{
	background: #5dbde9 !important;
	left: 0;
    width: 260px;
    margin: 0;
    padding-bottom: 60px;
    z-index: 1037;
    will-change: left;
    font-size: 13px;
    border-right: 1px rgba(0,0,0,.07) solid;
}
.nav-sidebar .brand{
	background: #fff;
    padding: 20px;
}
.nav-sidebar .logo{
	width: 100%;
	
}
.nav-sidebar .row{
	margin-bottom: -20px;
}
.nav-sidebar .background img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}