.bg-clouds {
	background: #5dbde9 url(/assets/img/bg_top_front.gif) no-repeat center bottom -100px;
    width: 100%;
    position: relative;
}

.logo-holder {
	margin-bottom: 14px;
    margin-top: 14px;
}

.logo-holder img{
	margin: auto;
    max-height: 40px;
}

.centered {
	text-align: center;
}

.div-seperator {
    color: #B9BCC0;
    font-size: 24px;
    display: flex;
	flex-basis: 100%;
	align-items: center;
	width: 70%;
    margin: auto;
}

.div-seperator::before,
.div-seperator::after {
	content: "";
	flex-grow: 1;
	background: #E1E2E4;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

.page-login .card {
	max-width: 450px;
}

a.btn {
    color: white;
}

/* nav */
nav .brand-logo img{
	width: 125px;
    margin-top: 15px;
}

/* toolbar */
.toolbar{
	margin-bottom: 0;
}
.toolbar .col{
	padding:0;
}
.toolbar nav{
	box-shadow: none;
    border-bottom: 1px solid #ccc;
    background: rgba(255,255,255, 0.2); 
    padding-right: 45px;
    margin-bottom: 15px;

}

/* login page*/
.page-login .brand-logo{
	margin:20px; 
}
.page-login .brand-logo img{
	width: 300px;
}
/* main content */
body{
	padding-bottom: 100px;
	padding-left: 0;
	padding-right: 0;
}
.maincontent{
	min-height: 500px;
	padding:0 !important;
	margin: 0;
}
.maincontent:before{
	  content: "";
	  position: fixed;
	  left: 0;
	  right: 0;
	  z-index: -1;

	  display: block;
	  background-image: url(/images/bg.jpg);
	  background-size:cover;
	  width: 100%;
	  height: 100%;

	  -webkit-filter: blur(10px);
	  -moz-filter: blur(10px);
	  -o-filter: blur(10px);
	  -ms-filter: blur(10px);
	  filter: blur(10px);
}
.page-footer{
	position: absolute;
    bottom: 0;
    width: 100%;
}
.page-admin nav .container{ 
	width: 100%;
}
.navbar {
    border: none;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.3);
    box-shadow: 0 0 1px rgba(0,0,0,.3);
}
.nav-sidebar{
	left: 0;
    width: 260px;
    margin: 0;
    padding-bottom: 60px;
    z-index: 1037;
    will-change: left;
    font-size: 13px;
    border-right: 1px rgba(0,0,0,.07) solid;
}
.nav-sidebar .brand{
	background: #fff;
    padding: 20px;
}
.nav-sidebar .logo{
	width: 100%;
	
}
.nav-sidebar .row{
	margin-bottom: -20px;
}
.nav-sidebar .background img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
     opacity: 0.7;
}
.content-wrap{
	margin-bottom: 0;
}

/* dashboard left side bar*/
#dashleft-sidebar{
	min-height: 600px;
	padding:10px;
}
#dashleft-sidebar h5{
	font-size: 20px;
    margin-top: 25px;
}
#dashleft-sidebar li svg{
	width: 13px;
    position: absolute;
    margin-left: -19px;
    margin-top: 15px;
    fill: #0089ec;
    cursor: pointer;
}
#dashleft-sidebar ul{
	border: 0;
	border-bottom: 1px solid #e0e0e0;
}
#dashleft-sidebar li{
	padding-left: 20px;
    border-left: 0 !important;
    border-right: 0 !important;
    font-size: 14px;
    padding-bottom: 0;
    padding-top: 0;
}
#dashleft-sidebar li input{
	border: none;
	padding: 0;
	margin: 0;
	width: 92%;
}
#dashleft-sidebar li input[type=text]:focus:not([readonly]){
	box-shadow: none;
}
#dashleft-sidebar li .edit-icon, #dashleft-sidebar li .delete-icon{
	position: absolute;
    margin-top: 15px;
    font-size: 17px;
    cursor: pointer;
}
 #dashleft-sidebar li .delete-icon{
 	margin-left: 30px;
 }

 /* list info - center content*/
 #list-info{
 	border: 1px solid #ccc;
    width: 100%;
    min-height: 500px;
    padding: 5px;
    max-height: 700px;
 }
 #info-nav{
 	border-bottom: 1px solid #ccc;
    margin-left: -7px;
    margin-right: -7px;
    padding: 15px;
 }
 #info-content{
 	padding:15px;
 }