
.panzoom-parent { 
	border: 2px solid #333; 
	width: 100%; 
	overflow: auto;
}
.panzoom-parent .panzoom { border: 2px dashed #666; }
.buttons { margin: 40px 0 0; }
.shopspot{
	background: red;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 999;
}
#info-content textarea{
	min-height: 300px;
}
#spots #dashleft-sidebar .collapsible-header h5 i {
	margin-top: -12px;
}
#spots #dashleft-sidebar li{
	padding-left: 0;
}
#salespot .collapsible-body{
	border-bottom: 0 !important;
}