
.panzoom-parent { 
	border: 2px solid #333; 
	width: 100%; 
	overflow: auto;
}
.panzoom-parent .panzoom { border: 2px dashed #666; }
.buttons { margin: 40px 0 0; }
.shopspot{
	background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
}