
/* clouds */
.bg-clouds{
	background: #5dbde9 url(/img/bg_top_front.gif) no-repeat center bottom -34px;
    width: 100%;
    position: initial;
}

.clouds {
	position: absolute;
	height: 448px;
	left: 0;
	width: 100%;
	top: 27px;
	z-index: -1;
}

.cloud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-position: left center;
    background-repeat: no-repeat;
    animation: moveclouds 35s linear 0s infinite;
    -webkit-animation: moveclouds 35s linear 0s infinite;
}
	.cloud.big {
	    height: 96px;
	    background-image: url(../img/cloud_big.png);
	}

	.cloud.mid {
	    height: 54px;
	    background-image: url(../img/cloud_midi.png);
	}

	.cloud.small {
	    height: 34px;
	    background-image: url(../img/cloud_small.png);
	}

	@-moz-keyframes moveclouds {
		0%   { transform: translate3d(0,0,0); }
		100% { transform: translate3d(-100%,0,0); }
	}
	@-webkit-keyframes moveclouds {
		0%   { -webkit-transform: translate3d(0,0,0); }
		100% { -webkit-transform: translate3d(-100%,0,0); }
	}

.logo-holder {
	margin-bottom: 14px;
    margin-top: 14px;
}

.logo-holder img{
	margin: auto;
    max-height: 40px;
}

.centered {
	text-align: center;
}

.div-seperator {
    color: #B9BCC0;
    font-size: 24px;
    display: flex;
	flex-basis: 100%;
	align-items: center;
	width: 70%;
    margin: auto;
    margin-top: 18px;
}

.div-seperator::before,
.div-seperator::after {
	content: "";
	flex-grow: 1;
	background: #E1E2E4;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}



a.btn {
    color: white;
}

/* nav */
nav .brand-logo img{
	width: 125px;
    margin-top: 15px;
}

.navbar {
    border: none;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.3);
    box-shadow: 0 0 1px rgba(0,0,0,.3);
}
.nav-sidebar{
	left: 0;
    width: 260px;
    margin: 0;
    padding-bottom: 60px;
    z-index: 1037;
    will-change: left;
    font-size: 13px;
    border-right: 1px rgba(0,0,0,.07) solid;
}
.nav-sidebar .brand{
	background: #fff;
    padding: 20px;
}
.nav-sidebar .logo{
	width: 100%;
	
}
.nav-sidebar .row{
	margin-bottom: -20px;
}
.nav-sidebar .background img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
     opacity: 0.7;
}
.content-wrap{
	margin-bottom: 0;
	padding-left: 45px;
    padding-right: 45px;
}


/* toolbar */
.toolbar{
	margin-bottom: 0;
}
.toolbar .col{
	padding:0;
}
.toolbar nav{
	box-shadow: none;
    border-bottom: 1px solid #ccc;
    background: rgba(255,255,255, 0.2); 
    padding-right: 45px;
    margin-bottom: 15px;

}

/* login page*/
.bg-clouds .brand-logo img{
    margin-top: 10px;
    max-width: 200px;
}

.help-block {
    color: #F44336;
}

/* alerts */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
	.alert.alert-success {
	    color: #3c763d;
	    background-color: #dff0d8;
	    border-color: #d6e9c6;
	}

	.alert-info {
	    color: #31708f;
	    background-color: #d9edf7;
	    border-color: #bce8f1;
	}

	.alert-warning {
	    color: #8a6d3b;
	    background-color: #fcf8e3;
	    border-color: #faebcc;
	}

	.alert-danger {
	    color: #a94442;
	    background-color: #f2dede;
	    border-color: #ebccd1;
	}

/* colors */
.green { background-color: #629d1c !important; }
.green-text { color: #629d1c !important; }

/* main content */
body{
	padding-left: 0;
	padding-right: 0;
	margin: 0 0 180px;
}
.maincontent{
	min-height: 500px;
	padding:0 !important;
	margin: 0 45px 0 0;
}
.maincontent:before{
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;

	display: block;
	background-image: url(/images/bg.jpg);
	background-size:cover;
	width: 100%;
	height: 100%;

	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}

footer.page-footer, .page-login footer.page-footer {
	clear: both;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 180px;
    overflow: hidden;
}
.page-admin .navbar:first-child{
	padding-left: 45px;
    padding-right: 45px;
}
.page-admin nav .container{ 
	width: 100%;
}

/* dashboard left side bar*/
#dashleft-sidebar{
	min-height: 600px;
	padding:10px;
}
#dashleft-sidebar h5{
	font-size: 20px;
    margin-top: 25px;
}
svg.itemRow-dragIcon{
	width: 13px;
    position: absolute;
    margin-left: -19px;
    margin-top: 15px;
    fill: #0089ec;
    cursor: pointer;
}
#dashleft-sidebar ul{
	border: 0;
	border-bottom: 1px solid #e0e0e0;
}
#dashleft-sidebar li{
	padding-left: 20px;
    border-left: 0 !important;
    border-right: 0 !important;
    font-size: 14px;
    padding-bottom: 0;
    padding-top: 0;
}
#dashleft-sidebar li input{
	border: none;
	padding: 0;
	margin: 0;
	width: 92%;
}
#dashleft-sidebar li input[type=text]:focus:not([readonly]){
	box-shadow: none;
}
#dashleft-sidebar li .edit-icon, #dashleft-sidebar li .delete-icon{
	position: absolute;
    margin-top: 15px;
    font-size: 17px;
    cursor: pointer;
}

 #dashleft-sidebar li .delete-icon{
 	margin-left: 27px;
 }


/* list info - center content*/
#list-info{
	border: 1px solid #ccc;
	width: 100%;
	min-height: 500px;
	padding: 5px;
	max-height: 700px;
}
#info-nav{
	border-bottom: 1px solid #ccc;
	margin-left: -7px;
	margin-right: -7px;
	padding: 15px;
}

#info-content{
	padding:15px;
}
#info-content input[type=text]:focus:not([readonly]), #info-nav input[type=text]:focus:not([readonly]){
	box-shadow: none;
}
 #info-nav input{
 	border: none;
    padding: 0;
    margin: 0;
    width: 97%;
    padding-left: 10px;
 }
#info-content input, #info-content textarea{
	border: none;
    margin: 0;
    width: 97%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
#info-nav #info-option{
	font-size: 20px;
    padding: 5px;
    width: 21px;
    text-align: center;
    position: absolute;
    margin-left: -10px;
    padding-top: 10px;
    cursor: pointer;
}
#info-nav #info-option:hover{
	color:#0089ec !important;
}
#info-content input:hover, #info-content textarea:hover,  #info-nav input:hover{
	border-bottom-color: #ccc;
}
#info-content textarea{
	min-height: 100px;
	padding-top: 10px;
}
#info-content textarea:focus{
	border: none;
}
#info-content li small{
	padding-left: 10px;
}
#info-content ul.collection, #info-content li.collection-item{
	border: none;
	padding:0;
	margin:0;
}
#info-nav #lsinfo-option{
	width: auto !important;
}
#info-nav #lsinfo-option li > a{
	font-size: 12px;
}